body {
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    color: white;
    background: url('img/FONDO.png') no-repeat center center fixed;
    background-size: cover;
}

.inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    text-align: center;
    transform: translateY(20px);
}

.contenido h1 {
    font-size: 2.8em;
    color: #fff;
    text-shadow: 0 0 10px #0004ff, 0 0 20px #1900ff;
    max-width: 600px;
    line-height: 1.2;
}

.button {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #0400ffbd;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    text-shadow: 0 0 10px #0004ff, 0 0 20px #1900ff;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
    background-color: #0400e6;
    box-shadow: 0 0 20px #3341ff, 0 0 30px #4133ff;
}
